@import './variaveis';

html, body {
    font-family: $font-principal;
    background-color: $cor-branco;
}

.servicos {
    background: $cor-branco-tercearia;
}

.sobre {
    background: $cor-tercearia-secundaria;
}
