//Fonte
$font-principal: 'Roboto', sans-serif;
$font-secundaria: 'Cinzel', sans-serif;

//Cores
$cor-primaria: #6C3428;
$cor-secundaria: #BA704F;
$cor-tercearia: #DFA878;
$cor-branco: #CEE6F3;
$linear-gradient: linear-gradient(#CEE6F3,#DFA878);

//tamanho das fontes
$tamanho-do-texto: 3rem;